<article class="article container">
	<div class="content">
		<address class="row">
			<div class="col-md-6">
				<h2>Контакты</h2>
				<h3>Мы находимся на территории МИСиС:</h3>
				<p>г. Москва, м. Октябрьская, Крымский вал 3</p>
				<h3>Часы работы:</h3>
				<p>Ср&nbsp;&mdash; Чт: 11:00&nbsp;&mdash; 18:00<br>
				Телефон: <nobr>8 (495) 955-01-20</nobr></p>
			</div>
			<div class="col-md-6">
				<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=gdcMrFGswe81oTlJu1RvQuWvKtF11xao&width=545&height=450"></script>
			</div>
		</address>
	</div>
</article>