<article class="article container">
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<h2>Фаблаб МИСиС&nbsp;&mdash; первый Российский фаблаб</h2>
				<address>
					Москва, метро Октябрьская, Крымский вал 3. Открыты Ср&nbsp;&mdash; Чт: 11:00&nbsp;&mdash; 18:00.
				</address>
				<div class="fotorama" data-width="100%" data-height="420" data-loop="true" data-allowfullscreen="true">
					<a href="http://vimeo.com/85431489"></a>
					<img src="/img/slider/bot.jpg">
					<img src="/img/slider/cardboard.jpg">
					<img src="/img/slider/grid.jpg">
					<img src="/img/slider/pcb.jpg">
					<img src="/img/slider/plywood.jpg">
					<img src="/img/slider/thing1.jpg">
				</div>
			</div>
			<div class="col-md-4">
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-like-box" data-href="https://www.facebook.com/fablab77" data-width="355" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
			</div>
		</div>
	</div>
</article>
