<article class="article">
	<div class="container">
		<h1>Дерево сайта</h1>
		<ul>
			<li><a href="/">Главная</a></li></a></li>
			<li>
				Фаблаб
				<ul>
					<li><a href="/fablab/index.html">Фаблаб</a></li>
					<li><a href="/fablab/wherefrom.html">Откуда</a></li>
					<li><a href="/fablab/charter.html">Хартия</a></li>
					<li><a href="/fablab/network.html">Всемирная сеть</a></li>
					<li><a href="/fablab/partnership.html">Партнерство</a></li>
				</ul>
			</li>
			<li><a href="/access">Доступ</a></li>
			<li>
				Оборудование
				<ul>
					<li><a href="/equipment/index.html">Список оборудования</a></li>
					<li><a href="/equipment/dimension-elite.html">Профессиональный 3D принтер</a></li>
					<li><a href="/equipment/replicator.html">3D принтер Replicator</a></li>
					<li><a href="/equipment/flexicam-stealth.html">Фрезерный станок</a></li>
					<li><a href="/equipment/laser-pro-spirit.html">Лазерный раскройщик</a></li>
					<li><a href="/equipment/roland-modella-mdx.html">Презиционный станок</a></li>
					<li><a href="/equipment/roland-gx300-gx24.html">Режущий плоттер</a></li>
				</ul>
			</li>
			<li><a href="/materials.html">Материалы</a></li>
			<li><a href="/events.html">События</a></li>
		</ul>
	</div>
</article>